<div class="group-description">
  <img src="{{site.baseurl}}/images/dynamicmobility/dm_logo3.png" alt="Dynamic Mobility Lab Logo" class="image image-light">
  <img src="{{site.baseurl}}/images/dynamicmobility/dm_logo3_white.png" alt="Dynamic Mobility Lab Logo" class="image image-dark">
  <div class="text">
    I'm actively seeking new PhD students to join my lab at Georgia Tech. If you're interested, please apply by visiting <a href="https://grad.gatech.edu/admissions" target="_blank">https://grad.gatech.edu/admissions</a>. 
    Feel free to also send me an email at mtucker@gatech.edu with the following items:
    <ul>
      <li>a brief statement on what you're interested in working on and why</li>
      <li>an attached CV/resume</li>
    </ul>
  </div>
</div>