<div class="row justify-content-around">
    <div class="col-sm justify-content-sm-center">
        <img
          class="img-fluid mr-sm-auto"
          src="{{site.baseurl}}/images/dynamicmobility/dm_logo.png">
    </div>
    <div class="col-sm justify-content-sm-center">
        <div class="list-item-group-description">
            <!-- <a class="list-post-title name" href="https://maegantucker.com/" target="_blank">
              <b>Dynamic Mobility Group</b>
            </a> -->
            <p class="people-list-info">
              I'm actively seeking PhD students to join my lab. If you're interested please apply by visiting <a href="https://grad.gatech.edu/admissions" target="_blank">https://grad.gatech.edu/admissions</a>. 
              You're encouraged to also send me an email at mtucker34@gatech.edu with the following items:
              <ul>
                <li>a brief statement on what you're interested in working on and why</li>
                <li>an attached CV/resume</li>
              </ul>
        	</p>
        </div>
    </div>
</div>
