<div class="row my-4">
    <div class="col-12 col-sm-4 px-4 px-sm-2 justify-content-sm-center">
              <a href="https://maegantucker.com/" target="_blank">
                <img
                  class="pi-thumbnail mr-sm-auto"
                  src="{{site.baseurl}}/images/people/maegantuckersquare.jpg">
              </a>
    </div>

    <div class="col-12 col-sm-8 my-auto py-3 px-4 px-sm-2 py-sm-0">
        <div class="list-item-mac-description">
            <a class="list-post-title name" href="https://maegantucker.com/" target="_blank">
              <b>Maegan Tucker</b>
            </a>
            <p class="people-list-info my-0">
                <!-- style="font-size:20px;"> -->
            	<span>Assistant Professor</span> <br>
            	<a class="name" href="https://www.gatech.edu/" target="_blank"> Georgia Institute of Technology </a> <br>
            	<a class="name" href="https://ece.gatech.edu//" target="_blank"> Department of Electrical and Computer Engineering</a> <br>
            	<a class="name" href="https://www.me.gatech.edu/" target="_blank"> Department of Mechanical Engineering</a> <br>
              Director of the Dynamic Mobility Lab <br>
              <a class="name" href="https://thesis.library.caltech.edu/15149/" target="_blank"> Ph.D. Caltech, 2023</a> <br>
            	M.S. Caltech, 2019 <br>
            	B.S. Georgia Tech, 2017 <br>
        	</p>
        </div>
    </div>
</div>
