<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}" style="color:white">

    <!-- Header -->
    {%- include header.html %}


    <div class="container mt-5" style="color:white">  
        {{ content }}
    </div>

    <br><br>
    <div style="text-align: center; color:white; font-family: Roboto Mono">
      <div id="commandLineWrapper" class="hidden">
      <div id="commandLine">
        <input type="text" class="input" placeholder="Command">
        <div class="separator hidden"></div>
        <div class="listTitle">Title</div>
        <div class="suggestions">
        </div>
      </div>
    </div>
    <div id="timerWrapper">
      <div id="timer"></div>
    </div>
    <div id="resultScreenshot" class="">
      <div class="stats">
        <div class="group">
          <div class="top">wpm</div>
          <div class="bottom">100</div>
        </div>
        <div class="group">
          <div class="top">key</div>
          <div class="bottom">100/2</div>
        </div>
        <div class="group">
          <div class="top">acc</div>
          <div class="bottom">100%</div>
        </div>
      </div>
      <div class="logo">
        <!--     <div class="top">monkey-see</div> -->
        <div class="bottom">monkey-type.com</div>
      </div>
    </div>
    <div id="centerContent" class="hidden">
    
      <div id="middle">
        <div id="top">
          <div class="logo">
            <div class="top">monkey-see</div>
            <div class="bottom" style="color:white">monkey-type</sup></div>
          </div>
          <!-- <div id="menu">
            <div class="button" tabindex="2">
              <div class="icon">
                <i class="fas fa-fw fa-keyboard"></i>
              </div>
              <div class="text">
                Test
              </div>
            </div>
            <div class="button" tabindex="2">
              <div class="icon">
                <i class="fas fa-fw fa-info"></i>
              </div>
              <div class="text">
                About
              </div>
            </div>
            <div class="button" tabindex="2">
              <div class="icon">
                <i class="fas fa-fw fa-cog"></i>
              </div>
              <div class="text">
                Settings
              </div>
            </div>
            <div class="button" tabindex="2">
              <div class="icon">
                <i class="fas fa-fw fa-user"></i>
              </div>
              <div class="text">
                Login
              </div>
            </div>
          </div> -->
    
          <div class="result hidden">
            <div class="group testmode" style="align-self: center">
              <div class="title mode1">words</div>
              <div class="title mode2">100</div>
              <div class="title mode3">100</div>
            </div>
            <div class="group key">
              <div class="title">key</div>
              <div class="val">100/1</div>
            </div>
            <div class="group acc">
              <div class="title">acc</div>
              <div class="val">95%</div>
            </div>
            <div class="group wpm">
              <div class="title">wpm</div>
              <div class="val">100</div>
            </div>
          </div>
          <div class="config">
            <div class="group punctuationMode">
              <div class="buttons">
                <div class="button toggleButton" tabindex="2">punctuation</div>
              </div>
            </div>
            <div class="group mode">
              <div class="buttons">
                <div class="button active" mode="time">time</div>
                <div class="button" mode="words">words</div>
                <div class="button" mode="custom">custom</div>
              </div>
            </div>
            <div class="group wordCount hidden">
              <div class="buttons">
                <div class="button" wordCount="10">10</div>
                <div class="button" wordCount="25">25</div>
                <div class="button active" wordCount="50">50</div>
                <div class="button" wordCount="100">100</div>
                <div class="button" wordCount="200">200</div>
              </div>
            </div>
            <div class="group time">
              <div class="buttons">
                <div class="button" timeConfig="15">15</div>
                <div class="button active" timeConfig="30">30</div>
                <div class="button" timeConfig="60">60</div>
                <div class="button" timeConfig="120">120</div>
              </div>
            </div>
            <div class="group customText hidden">
              <div class="buttons">
                <div class="button">change</div>
              </div>
            </div>
          </div>
    
        </div>
        <div id="caret" class="hidden"></div>
        <div id="words" class=""></div>
        <input id="wordsInput" class="" tabindex="0"></input>
        <div id="restartTestButton" tabindex="0"><i class="fas fa-redo-alt"></i></div>
        <div style="color:white" id="liveWpm" class="">-</div>
      </div>
      <div id="bottom">
        <!--     Hey, im optimising the website for keyboard only use, so from now to restart the test press <key>tab</key> and then <key>enter</key> / <key>space</key> (also so its simmilar to other typing tests). If some of you really like this quick test restart I guess I could add a setting for it :P
        <br><br> -->
        Created by <a href="https://www.reddit.com/message/compose?to=Miodec">Miodec</a>
      </div>
    
    </div>

    <div class="container mt-5" style="text-align: center; color:white">
      <br style="margin-bottom: 3.4rem">
      <h2 style="color: white">AMBER Lab Leaderboard (30s timed test)</h2>
      
      <table class="table dark table-dark" style="color: white" id="leaderboard">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Speed (wpm)</th>
            <th scope="col">Accuracy (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Maegan</td>
            <td>116</td>
            <td>98</td>
          </tr>
        </tbody>
      </table>
    </div>
      

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}

    <!-- MonkeyType -->
    <!-- <script src="//forio.com/tools/js-libs/2.9.1/epicenter-multiplayer-dependencies.js"></script> -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
    <!-- <script src="//forio.com/tools/js-libs/2.9.1/epicenter.min.js"></script> -->
    <script type="text/javascript" src="{{ '/assets/js/monkeytype.js' | relative_url }}"></script>
    <link rel="stylesheet" href="{{ '/assets/css/monkeytype.css' | relative_url }}">

  </body>
</html>
